
.slicon-thumbs-down-alt:before { content: '\21'; } /* '!' */
.slicon-thumbs-up-alt:before { content: '\22'; } /* '&quot;' */
.slicon-comments:before { content: '\23'; } /* '#' */
.slicon-user-add:before { content: '\24'; } /* '$' */
.slicon-user:before { content: '\25'; } /* '%' */
.slicon-globe:before { content: '\26'; } /* '&amp;' */
.slicon-users:before { content: '\27'; } /* ''' */
.slicon-camera:before { content: '\28'; } /* '(' */
.slicon-leftpanel:before { content: '\29'; } /* ')' */
.slicon-rightpanel:before { content: '\2a'; } /* '*' */
.slicon-calendar:before { content: '\2b'; } /* '+' */
.slicon-share:before { content: '\2c'; } /* ',' */
.slicon-tag:before { content: '\2d'; } /* '-' */
.slicon-comment:before { content: '\2e'; } /* '.' */
.slicon-group:before { content: '\2f'; } /* '/' */
.slicon-topic:before { content: '\30'; } /* '0' */
.slicon-file-text-alt:before { content: '\31'; } /* '1' */
.slicon-envelope:before { content: '\32'; } /* '2' */
.slicon-facetime-video:before { content: '\33'; } /* '3' */
.slicon-home:before { content: '\34'; } /* '4' */
.slicon-picture:before { content: '\35'; } /* '5' */
.slicon-map-marker:before { content: '\36'; } /* '6' */
.slicon-link:before { content: '\37'; } /* '7' */
.slicon-blog:before { content: '\38'; } /* '8' */
.slicon-delete:before { content: '\39'; } /* '9' */
.slicon-add:before { content: '\3a'; } /* ':' */
.slicon-setting:before { content: '\3b'; } /* ';' */
.slicon-edit:before { content: '\3c'; } /* '&lt;' */
.slicon-approve:before { content: '\3d'; } /* '=' */
.slicon-menu:before { content: '\3e'; } /* '&gt;' */
.slicon-pin:before { content: '\3f'; } /* '?' */
.slicon-lock:before { content: '\40'; } /* '@' */
.slicon-attach:before { content: '\41'; } /* 'A' */
.slicon-location:before { content: '\42'; } /* 'B' */
.slicon-down-big:before { content: '\43'; } /* 'C' */
.slicon-down-small:before { content: '\44'; } /* 'D' */
.slicon-newspaper:before { content: '\45'; } /* 'E' */
.slicon-photo:before { content: '\46'; } /* 'F' */
.slicon-eye-outline:before { content: '\47'; } /* 'G' */
.slicon-trash:before { content: '\48'; } /* 'H' */
.slicon-chart-outline:before { content: '\49'; } /* 'I' */
.slicon-record-outline:before { content: '\4a'; } /* 'J' */
.slicon-record:before { content: '\4b'; } /* 'K' */
.slicon-search:before { content: '\4c'; } /* 'L' */