.loginPage{

}
.login-page-content{
    max-width: 450px;
    margin: 0 auto;
    border: solid 1px #e0e0e0;
    background-color: #ffffff;
    border-radius: 4px;
    padding: 15px;
}
.login-page-title{
    margin-top: 0;
    font-weight: 500;
    margin-bottom: 10px;
    font-size: 22px;
    line-height: 28px;
    text-align: center;
}