
.icon-thumbs-down-alt:before { content: '\21'; } /* '!' */
.icon-thumbs-up-alt:before { content: '\22'; } /* '&quot;' */
.icon-comments:before { content: '\23'; } /* '#' */
.icon-user-add:before { content: '\24'; } /* '$' */
.icon-user:before { content: '\25'; } /* '%' */
.icon-globe:before { content: '\26'; } /* '&amp;' */
.icon-users:before { content: '\27'; } /* ''' */
.icon-camera:before { content: '\28'; } /* '(' */
.icon-leftpanel:before { content: '\29'; } /* ')' */
.icon-rightpanel:before { content: '\2a'; } /* '*' */
.icon-calendar:before { content: '\2b'; } /* '+' */
.icon-share:before { content: '\2c'; } /* ',' */
.icon-tag:before { content: '\2d'; } /* '-' */
.icon-comment:before { content: '\2e'; } /* '.' */
.icon-group:before { content: '\2f'; } /* '/' */
.icon-topic:before { content: '\30'; } /* '0' */
.icon-file-text-alt:before { content: '\31'; } /* '1' */
.icon-envelope:before { content: '\32'; } /* '2' */
.icon-facetime-video:before { content: '\33'; } /* '3' */
.icon-home:before { content: '\34'; } /* '4' */
.icon-picture:before { content: '\35'; } /* '5' */
.icon-map-marker:before { content: '\36'; } /* '6' */
.icon-link:before { content: '\37'; } /* '7' */
.icon-blog:before { content: '\38'; } /* '8' */
.icon-delete:before { content: '\39'; } /* '9' */
.icon-add:before { content: '\3a'; } /* ':' */
.icon-setting:before { content: '\3b'; } /* ';' */
.icon-edit:before { content: '\3c'; } /* '&lt;' */
.icon-approve:before { content: '\3d'; } /* '=' */
.icon-menu:before { content: '\3e'; } /* '&gt;' */
.icon-pin:before { content: '\3f'; } /* '?' */
.icon-lock:before { content: '\40'; } /* '@' */
.icon-attach:before { content: '\41'; } /* 'A' */
.icon-location:before { content: '\42'; } /* 'B' */
.icon-down-big:before { content: '\43'; } /* 'C' */
.icon-down-small:before { content: '\44'; } /* 'D' */
.icon-newspaper:before { content: '\45'; } /* 'E' */
.icon-photo:before { content: '\46'; } /* 'F' */
.icon-eye-outline:before { content: '\47'; } /* 'G' */
.icon-trash:before { content: '\48'; } /* 'H' */
.icon-chart-outline:before { content: '\49'; } /* 'I' */
.icon-record-outline:before { content: '\4a'; } /* 'J' */
.icon-record:before { content: '\4b'; } /* 'K' */
.icon-search:before { content: '\4c'; } /* 'L' */
.icon-chat:before { content: '\4d'; } /* 'M' */
.icon-left-open-big:before { content: '\4e'; } /* 'N' */
.icon-right-open-big:before { content: '\4f'; } /* 'O' */
.icon-up-open-big:before { content: '\50'; } /* 'P' */
.icon-up-open-mini:before { content: '\51'; } /* 'Q' */
.icon-right-open-mini:before { content: '\52'; } /* 'R' */
.icon-left-open-mini:before { content: '\53'; } /* 'S' */
.icon-edit-1:before { content: '\61'; } /* 'a' */
.icon-ellipsis-vert:before { content: '\62'; } /* 'b' */
.icon-clock:before { content: '\e800'; } /* '' */
.icon-globe-1:before { content: '\e801'; } /* '' */
.icon-users-1:before { content: '\e802'; } /* '' */
.icon-lock-1:before { content: '\e803'; } /* '' */
.icon-group-1:before { content: '\e804'; } /* '' */
.icon-pending:before { content: '\e805'; } /* '' */
.icon-th-list:before { content: '\e806'; } /* '' */
.icon-th:before { content: '\e807'; } /* '' */
.icon-paypal:before { content: '\e808'; } /* '' */
.icon-up-circled:before { content: '\e809'; } /* '' */
.icon-videocam:before { content: '\e80a'; } /* '' */
.icon-videocam-1:before { content: '\e80b'; } /* '' */