body.mce-content-body {
  background-color: #242526;
  color: #ffffff;
}

.post_content blockquote,
.post_content pre{
  color: #f3f6f4;
  background-color: #3a3b3c;
  border-color: #eeeeee;
}

.post_content table th,
.post_content table td {
  border-color: #6d737b;
}
.post_content figure figcaption {
  color: #8a8f97;
}
.post_content hr {
  border-color: #6d737b;
}
.post_content code {
  background-color: #6d737b;
}

.post_content td[data-mce-selected],
.post_content th[data-mce-selected] {
  color: #333;
}

.post_content a{
  color: #2d88ff;
}